## `Tuple Based PracticeQuestions`

## `TOPIC: Tuple Based Assignment Problem`

`1. Create a tuple with integers from 1 to 5.`

In [1]:
t1 =(1,2,3,4,5)
print(t1)
len(t1)

(1, 2, 3, 4, 5)

5

`2. Access the third element of a tuple.`

In [2]:
t1[2]

3

`3. Find the length of a tuple without using the `len()` function.`

In [3]:
length =0
for i in t1:
    length= length+1
else:
    print("For loop will Executed")
    print("======================")
    print("Length of tuple is:",length)

For loop will Executed
======================
Length of tuple is: 5

`4. Count the occurrences of an element in a tuple.`

In [4]:
t2 =(1,1,2,3,4,5,5)
t2.count(1)

2

`5. Find the index of the first occurrence of an element in a tuple.`

In [5]:
t2.index(5)

5

`6. Check if an element exists in a tuple.`

In [6]:
t3 =(1,2,3,"bhush","Chopade")
if "bhush" in t3:
    print("True")
else:
    print("False")

True

`7. Convert a tuple to a list.`

In [7]:
print(t3)
T_list= list(t3)
print(T_list)
type(T_list)

(1, 2, 3, 'bhush', 'Chopade')
[1, 2, 3, 'bhush', 'Chopade']

list

`9. Unpack the elements of a tuple into variables.`

In [8]:
a =('Bhushan',1,'SPPU')
print(a) #Pack Elements

('Bhushan', 1, 'SPPU')

In [9]:
# Unpacking Elements
(Name,Roll_no,University)=a

print(Name)
print(Roll_no)
print(University)

Bhushan
1
SPPU

`10. Create a tuple of even numbers from 1 to 10.`

In [10]:
user =int(input("Enter the range of even No ==>>"))
tuple_1 =[]
for t in range(1,user):
    if t % 2==0:
        tuple_1.append(t)
else:
    print("For loop Exe. done")
    t4 =tuple(tuple_1)

Enter the range of even No ==>> 10

For loop Exe. done

In [11]:
print(t4)

(2, 4, 6, 8)

`11. Create a tuple of odd numbers from 1 to 10.`

In [12]:
user =int(input("Enter the range of even No ==>>"))
tuple_2 =[]
for t in range(1,user):
    if t % 2!=0:
        tuple_2.append(t)
else:
    print("For loop Exe. done")
    t5 =tuple(tuple_2)

Enter the range of even No ==>> 20

For loop Exe. done

In [13]:
print(t5)

(1, 3, 5, 7, 9, 11, 13, 15, 17, 19)

`12. Concatenate two tuples.`

In [14]:
tuple_3 =(23,34,45,56,67)
tuple_4 =(98,87,76,65,54)
Concatenate_tuple = tuple_3 + tuple_4

In [15]:
print("Concatenate two tuple :{} ".format(Concatenate_tuple))

Concatenate two tuple :(23, 34, 45, 56, 67, 98, 87, 76, 65, 54)

`13. Repeat a tuple three times.`

In [16]:
tuple_5 =(23,34,45,56,67)
Reapeat_tuple =tuple_5*3

In [17]:
print("Reapeat tuple 3 time : {} ".format(Reapeat_tuple))

Reapeat tuple 3 time : (23, 34, 45, 56, 67, 23, 34, 45, 56, 67, 23, 34, 45, 56, 67)

`14. Check if a tuple is empty.`

In [18]:
tuple_6 =()
if len(tuple_6) == 0:
    print("tuple is empty")
else:
    print("Tuple not empty")

tuple is empty

`15. Create a nested tuple.`

In [19]:
tuple_7 =(1,2,3,(87,45,34),"Bhush","patil")

`16. Access the first element of a nested tuple.`

In [20]:
tuple_7[3][0]

87

`17. Create a tuple with a single element.`

In [21]:
tuple_8 =("bhushan")

`18. Compare two tuples.`

In [22]:
tuple_9 =("Bhushan",23,45,1,2)
tuple_10 =(1,2,"Bhushan")
comare_tuple = set(tuple_9).intersection(set(tuple_10))
print("Comparison between two tuple is : {}".format(comare_tuple))

Comparison between two tuple is : {1, 2, 'Bhushan'}

`19. Delete a tuple.`

In [23]:
tuple_11 =("Bhushan",23,45,1,2)
del tuple_11

`20. Slice a tuple.`

In [24]:
tuple_12 =(100,122,300,154,500,266,"a","b","c","d")
tuple_12[3:6]

(154, 500, 266)

`21. Find the maximum value in a tuple.`

In [25]:
tuple_13 =(23,100,122,300,154,500,266,455,776,233,998)
max(tuple_13)

998

`22. Find the minimum value in a tuple.`

In [26]:
min(tuple_13)

23

`23. Convert a string to a tuple of characters.`

In [27]:
string_conv ='bhushan from pune'
tuple(string_conv)

('b',
 'h',
 'u',
 's',
 'h',
 'a',
 'n',
 ' ',
 'f',
 'r',
 'o',
 'm',
 ' ',
 'p',
 'u',
 'n',
 'e')

`24. Convert a tuple of characters to a string.`

In [28]:
Tuple_char =('b','h','u','s','h','a','n')
convstring="".join(Tuple_char)

In [29]:
convstring

'bhushan'

`25. Create a tuple from multiple data types.`

In [30]:
tuple_14 =("Bhushan",23,24,True,False,45.56,56.89,2+3j)
tuple_14

('Bhushan', 23, 24, True, False, 45.56, 56.89, (2+3j))

`26. Check if two tuples are identical.`

In [31]:
tuple_15 =(1,2,3,4)
tuple_16 =(1,2,3,4)
if tuple_15 == tuple_16:
    print("Tuples are identical")
else:
    print("Tuples are not identical")

Tuples are identical

`27. Sort the elements of a tuple.`

In [63]:
tuple_17 =(12,1,23,13,34,45,56)
sorted(tuple_17,reverse= False)
print(tuple(sort_tuple))

(1, 12, 13, 23, 34, 45, 56)

`28. Convert a tuple of integers to a tuple of strings.`

In [33]:
tuple_18=(1, 12, 13, 23, 34, 45, 56)
str(tuple_18)

'(1, 12, 13, 23, 34, 45, 56)'

`29. Convert a tuple of strings to a tuple of integers.`

In [34]:
tuple_19 ='(1, 12, 13, 23, 34, 45, 56)'
integer_tuple =eval(tuple_19) # Eval is used to convert string into tuple

In [35]:
integer_tuple

(1, 12, 13, 23, 34, 45, 56)

`30. Merge two tuples.`

In [36]:
tuple_20 =(1,2,3,4)
tuple_21 =(4,3,2,1)
tuple_20 + tuple_21

(1, 2, 3, 4, 4, 3, 2, 1)

`31. Flatten a nested tuple.`

In [37]:
test_tuple = ([5, 6], [6, 7, 8, 9], [3])
result =tuple(sum(test_tuple,[]))

In [38]:
print("Flatten tuple is :{}".format(result))

Flatten tuple is :(5, 6, 6, 7, 8, 9, 3)

`32. Create a tuple of the first 5 prime numbers.`

In [39]:
#Print first 5 prime numbers =====>>>
tuple_22 =[]
for number in range (12):  
    if number > 1:  
        for i in range (2, number):  
            if (number % i) == 0:  
                break  
        else:  
            tuple_22.append(number)

In [40]:
print(tuple(tuple_22))

(2, 3, 5, 7, 11)

`33. Check if a tuple is a palindrome.`

In [1]:
# Function to check if a tuple is a palindrome
def is_palindrome(tup):
    return tup == tup[::-1]

# Create tuples for testing
palindrome_tuple = (1, 2, 3, 2, 1)
non_palindrome_tuple = (1, 2, 3, 4, 5)

# Check if the tuples are palindromes
is_palindrome1 = is_palindrome(palindrome_tuple)
is_palindrome2 = is_palindrome(non_palindrome_tuple)

# Print the results
print("palindrome_tuple is a palindrome:", is_palindrome1)
print("non_palindrome_tuple is a palindrome:", is_palindrome2)

palindrome_tuple is a palindrome: True
non_palindrome_tuple is a palindrome: False

`34. Create a tuple of squares of numbers from 1 to 5.`

In [41]:
tuple_square=[]
for i in range(1,5+1):
    tuple_square.append(i**2)

In [42]:
print(tuple(tuple_square))

(1, 4, 9, 16, 25)

`35. Filter out all even numbers from a tuple.`

In [43]:
tuple_23=(1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20)
filter_even_numbers =[]
filter_odd_numbers =[]
for i in tuple_23:
    if i %2 ==0:
        filter_even_numbers.append(i)
    else:
        filter_odd_numbers.append(i)
else:
    print("for loop execution completed..")
    print("==============================================================")
    print("Filer Even numbers are : {}".format(tuple(filter_even_numbers)))
    print("==============================================================")
    print("Filer odd numbers are : {}".format(tuple(filter_odd_numbers)))

for loop execution completed..
==============================================================
Filer Even numbers are : (2, 4, 6, 8, 10, 12, 14, 16, 18, 20)
==============================================================
Filer odd numbers are : (1, 3, 5, 7, 9, 11, 13, 15, 17, 19)

`36. Multiply all elements in a tuple by 2.`

In [44]:
tuple_24=(1,2,3,4,5,6,7,8,9,10)

for i in tuple_24:
    print(i*2,end=' ')

2 4 6 8 10 12 14 16 18 20

`37. Create a tuple of random numbers.`

In [45]:
tuple_25 =(23,12,24,10,11,14,15,18,16)
print(tuple_25)

(23, 12, 24, 10, 11, 14, 15, 18, 16)

`38. Check if a tuple is sorted.`

In [46]:
if tuple_25 != sorted(tuple_25):
    print("Tuple is not sorted...")
else:
    print("Tuple is sorted")

Tuple is not sorted...

`39. Rotate a tuple to the left by `n` positions.`

In [47]:
tuple_26 =(1,3,5,7,9,11)
Rotate_left =tuple_26[4:] + tuple_26[:4]

In [48]:
Rotate_left

(9, 11, 1, 3, 5, 7)

`40. Rotate a tuple to the right by `n` positions.`

In [49]:
tuple_27 =(1,3,5,7,9,11)
Rotate_right =tuple_26[-4:] + tuple_26[:-4]

In [50]:
Rotate_right

(5, 7, 9, 11, 1, 3)

`41. Create a tuple of the first 5 Fibonacci numbers.`

In [3]:
# Define a function to generate the first n Fibonacci numbers
def generate_fibonacci(n):
    fibonacci = [0, 1]  # Initialize the list with the first two Fibonacci numbers
    while len(fibonacci) < n:  # Continue generating Fibonacci numbers until the list has n elements
        next_number = fibonacci[-1] + fibonacci[-2]  # Calculate the next Fibonacci number
        fibonacci.append(next_number)  # Add the next Fibonacci number to the list
    return tuple(fibonacci)  # Convert the list to a tuple and return it

# Call the generate_fibonacci function to create a tuple of the first 5 Fibonacci numbers
fibonacci_tuple = generate_fibonacci(5)

# Print the resulting tuple
print(fibonacci_tuple)

(0, 1, 1, 2, 3)

`42. Create a tuple from user input.`

In [55]:
tuple_user =[]
for i in range(10):
    user_input =input("Enter numbers===>")
    tuple_user.append(user_input)
else:
    print("for loop execute sucessfull")

Enter numbers===> 1
Enter numbers===> bhush
Enter numbers===> chopade
Enter numbers===> 23
Enter numbers===> 45
Enter numbers===> 45
Enter numbers===> 45
Enter numbers===> 45
Enter numbers===> 45
Enter numbers===> 45

for loop execute sucessfull

In [58]:
print(tuple(tuple_user))

('1', 'bhush', 'chopade', '23', '45', '45', '45', '45', '45', '45')

`43. Swap two elements in a tuple.`

In [5]:
tuple_28 =(1,3,5,7,9,11)
convert_tuple_28 =list(tuple_28)
convert_tuple_28

[1, 3, 5, 7, 9, 11]

In [6]:
convert_tuple_28[0],convert_tuple_28[1] =convert_tuple_28[1],convert_tuple_28[0]

In [7]:
new_tuple =tuple(convert_tuple_28)
print("Swaping of elements in tuple",new_tuple)

Swaping of elements in tuple (3, 1, 5, 7, 9, 11)

`44. Reverse the elements of a tuple.`

In [8]:
tuple_29 =(1,3,5,7,9,11)
tuple_29[::-1]

(11, 9, 7, 5, 3, 1)

`45. Create a tuple of the first `n` powers of 2.`

In [74]:
power_2 =[]

for i in range(1,10):
    power_2.append(i**2)

In [75]:
tuple(power_2)

(1, 4, 9, 16, 25, 36, 49, 64, 81)

`46. Find the longest string in a tuple of strings.`

In [77]:
tuple_30 =('Bhushan','chopade','college','pwskills')
Longest_tuple_string =max(tuple_30, key=len)

In [78]:
print("Longest string in tuple is:",Longest_tuple_string)

Longest string in tuple is: pwskills

`47. Find the shortest string in a tuple of strings.`

In [84]:
tuple_31 =('Bhushan123','chopad12','college','pwskills')
shortest_tuple_string =min(tuple_31, key=len)

In [85]:
print("shortest string in tuple is:",shortest_tuple_string)

shortest string in tuple is: college

`48. Create a tuple of the first `n` triangular numbers.`

In [9]:
# Define the value of n
n = 5

# Create a tuple of the first n triangular numbers using a list comprehension
triangular_numbers_tuple = tuple((i * (i + 1)) // 2 for i in range(1, n + 1))

# Print the tuple of triangular numbers
print("Tuple of the first", n, "triangular numbers:", triangular_numbers_tuple)

Tuple of the first 5 triangular numbers: (1, 3, 6, 10, 15)

`49. Check if a tuple contains another tuple as a subsequence.`

In [10]:
one = (1, 2, 3, 4, 5)
two = (10, 11)
subset =set(two).intersection(one)
subset

set()

In [11]:
if (set(one).intersection(two)):
    print("It is subset of another tuple")
else:
    print("It is not subset of tuple")

It is not subset of tuple

`50. Create a tuple of alternating 1s and 0s of length `n`.`

In [92]:
tuple_32 =[]
User_length =int(input('Enter the input from user ===>'))

for i in range(1,User_length):
    if i %2 ==0:
        #Appending 1 on Even index 1s
        tuple_32.append(1)
    else:
        # Appending 0 on odd index 0s
        tuple_32.append(0)
else:
    print("For loop execute sucessfully...")
    print("Alternating 1s & 0s :",tuple_32)

Enter the input from user ===> 10

For loop execute sucessfully...
Alternating 1s & 0s : [0, 1, 0, 1, 0, 1, 0, 1, 0]