## `List Based PracticeQuestions`

## `TOPIC: List Based Assignment Problem`

`1. Create a list with integers from 1 to 10.`

In [31]:
lst1 =[1,2,3,4,5,6,7,8,9,10] # Crreated list
print(lst1) # print list

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [32]:
lst1=[] # By using for loop we can make list
for i in range(0,10+1):
    lst1.append(i)

In [33]:
print(lst1)
print(type(lst1))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
<class 'list'>

`3. Append an element to the end of a list.`

In [34]:
lst1.append(11)
# Signature: lst1.append(object, /)
# Docstring: Append object to the end of the list.

print(lst1)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

`4. Insert an element at a specific index in a list.`

In [35]:
lst1.insert(2,'Bhushan')

# Signature: lst1.insert(index, object, /)
# Docstring: Insert object before index.
print(lst1)

[0, 1, 'Bhushan', 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

`5. Remove an element from a list by its value.`

In [36]:
lst1.remove("Bhushan")
# signature: lst1.remove(value, /)
# Docstring:Remove first occurrence of value.
print("list is :>>",lst1)

list is :>> [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

`6. Remove an element from a list by its index`

In [37]:
lst1.pop(2)
# Signature: lst1.pop(index=-1, /)
# Docstring: Remove and return item at index (default last).
print(f"list values are :>>> {lst1}")

list values are :>>> [0, 1, 3, 4, 5, 6, 7, 8, 9, 10, 11]

`7. Check if an element exists in a list.`

In [38]:
# By using if else we can check list iteams 
if (11 in lst1):
    print("Yes.. its is exist in list")
    print("List iteams are :",lst1)
else:
    print("NO.. Its not exist in list")

Yes.. its is exist in list
List iteams are : [0, 1, 3, 4, 5, 6, 7, 8, 9, 10, 11]

`8. Find the index of the first occurrence of an element in a list.`

In [39]:
# Signature: lst1.index(value, start=0, stop=9223372036854775807, /)
# Docstring:Return first index of value.
lst1.index(3)

2

`9. Count the occurrences of an element in a list.`

In [40]:
lst2 =[1,2,3,3,5,6,4,6,3]
# Signature: lst2.count(value, /)
# Docstring: Return number of occurrences of value.

lst2.count(3)

3

`10. Reverse the order of elements in a list.`

In [41]:
lst2[::-1] # reverse the list elements

[3, 6, 4, 6, 5, 3, 3, 2, 1]

`11. Sort a list in ascending order.`

In [42]:
lst2.sort(key=None, reverse=False)
# Signature: lst2.sort(*, key=None, reverse=False)
# Docstring:Sort the list in ascending order and return None.

In [43]:
print(f"list iteams are sorted : {lst2}")

list iteams are sorted : [1, 2, 3, 3, 3, 4, 5, 6, 6]

`12. Sort a list in descending order.`

In [44]:
lst2.sort(key=None, reverse=True)
# Signature: lst2.sort(*, key=None, reverse=False)
# Docstring:Sort the list in ascending order and return None.

In [45]:
print(f"list iteams are sorted : {lst2}")

list iteams are sorted : [6, 6, 5, 4, 3, 3, 3, 2, 1]

`13. Create a list of even numbers from 1 to 20.`

In [46]:
# Manual Created list
list_even_number =[0,2,4,6,8,10,12,14,16,18,20]
print(list_even_number)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [47]:
# By using For loop Created list
list_even_number =[]
for i in range(0,21):
    if i%2 == 0:
        list_even_number.append(i)
        
print("List of Even numbers are :",list_even_number)

List of Even numbers are : [0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

`14. Create a list of odd numbers from 1 to 20.`

In [48]:
# By using for loop Created odd elements list
Odd_numbers_list =[]

for i in range(0,21):
    if i%2 ==1:
        Odd_numbers_list.append(i)
print("List of odd numbers are :",Odd_numbers_list)

List of odd numbers are : [1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

`15. Find the sum of all elements in a list.`

In [49]:
# First method -----
lst3= [2,4,6,7,8,9]
print("list3 iteams are :",lst3)
sum_of_list = 0
for i in (lst3):
    sum_of_list += i

list3 iteams are : [2, 4, 6, 7, 8, 9]

In [50]:
print("Sum of all list Iteam are :",sum_of_list)

Sum of all list Iteam are : 36

In [51]:
#Second Method -----
sumoflist =sum(lst3,0)
print("Sum of list iteams are :",sumoflist)

Sum of list iteams are : 36

In [52]:
## 3 rd method of addition
s= 0
for i,a in enumerate(lst3):
    s =s+a
print(s)

36

`16. Find the maximum value in a list.`

In [53]:
# By using max Function we can access max value from list
print(lst3)
print("The max value from list is :",(max(lst3)))

[2, 4, 6, 7, 8, 9]
The max value from list is : 9

`17. Find the minimum value in a list.`

In [54]:
# By using min Function we can access max value from list
print(lst3)
print("The max value from list is :",(min(lst3)))

[2, 4, 6, 7, 8, 9]
The max value from list is : 2

`18. Create a list of squares of numbers from 1 to 10.`

In [55]:
lsts =[] # Create empty list

for i in range(1,11): # By using for loop
    square =(i*i)
    lsts.append(square)

In [56]:
print("the list of squares of numbers :",lsts)

the list of squares of numbers : [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

`19. Create a list of random numbers.`

In [57]:
import random
lst_random = []

for i in range(50):
    random_number =random.randint(0,49)
    lst_random.append(random_number)

In [58]:
print("The random numbers list is :\n",lst_random)

The random numbers list is :
 [13, 43, 11, 13, 33, 13, 14, 46, 11, 15, 17, 28, 34, 39, 34, 39, 37, 49, 11, 37, 43, 46, 18, 2, 28, 26, 13, 44, 6, 28, 46, 28, 19, 10, 49, 25, 19, 21, 47, 1, 14, 23, 28, 39, 46, 38, 20, 29, 47, 46]

In [59]:
## By using the randrange function we can generate the random numbers
lst_random = []

for i in range(50):
    random_number =random.randrange(0,49)
    lst_random.append(random_number)

In [60]:
print(lst_random)

[2, 1, 28, 7, 13, 3, 27, 38, 10, 1, 39, 39, 25, 37, 13, 45, 39, 14, 40, 13, 39, 35, 31, 6, 11, 6, 26, 7, 39, 31, 27, 22, 32, 45, 22, 40, 32, 0, 43, 41, 47, 18, 47, 43, 36, 20, 6, 29, 36, 12]

`20. Remove duplicates from a list.`

In [61]:
print("The list iteams are :\n",lst_random)

The list iteams are :
 [2, 1, 28, 7, 13, 3, 27, 38, 10, 1, 39, 39, 25, 37, 13, 45, 39, 14, 40, 13, 39, 35, 31, 6, 11, 6, 26, 7, 39, 31, 27, 22, 32, 45, 22, 40, 32, 0, 43, 41, 47, 18, 47, 43, 36, 20, 6, 29, 36, 12]

In [62]:
Remove_duplicate =lst_random.copy() # copy the List into another variable
converted_into_set= set(Remove_duplicate) #Converted into set

In [63]:
print(converted_into_set) # Converted into set so duplicate are removed
print(type(converted_into_set))

{0, 1, 2, 3, 6, 7, 10, 11, 12, 13, 14, 18, 20, 22, 25, 26, 27, 28, 29, 31, 32, 35, 36, 37, 38, 39, 40, 41, 43, 45, 47}
<class 'set'>

In [64]:
print(list(converted_into_set)) # Again Converted into list

[0, 1, 2, 3, 6, 7, 10, 11, 12, 13, 14, 18, 20, 22, 25, 26, 27, 28, 29, 31, 32, 35, 36, 37, 38, 39, 40, 41, 43, 45, 47]

`21. Find the common elements between two lists.`

In [65]:
lst4 =[1,2,44,55,66] # List-1
lst5 =[34,1,2,44,78,56,90] # List -2
common_element =set(lst4).intersection(lst5) # Created common elememts find func
print("The common elements are :",common_element) # PrintCommon elements

The common elements are : {1, 2, 44}

## `OR`

In [66]:
lst4 =[1,2,44,55,66] # List-1
lst5 =[34,1,2,44,78,56,90] # List -2
set_lst4 =set(lst4) #converted into set
set_lst5 =set(lst5) #converted into set
common_element =set_lst4.intersection(set_lst5)

In [67]:
print("The common elements are :",common_element) # PrintCommon elements

The common elements are : {1, 2, 44}

`22. Find the difference between two lists.`

In [68]:
lst4 =[1,2,44,55,66] # List-1
lst5 =[34,1,2,44,78,56,90] # List -2
differ =set(lst4).difference(lst5) # by using diffrence function find diff

print("The differance is :",differ)

The differance is : {66, 55}

`23. Merge two lists.`

In [69]:
l01 =[1,2,44,55,66] # List-1
l02 =[34,1,2,44,78,56,90] # List -2
l01.extend(l02) # By using extend function
print("mergerd lists are :",l01)

mergerd lists are : [1, 2, 44, 55, 66, 34, 1, 2, 44, 78, 56, 90]

`24. Multiply all elements in a list by 2.`

In [70]:
list_iteams =[23,34,45,12,24,45] #List

for i in list_iteams:
    print(i*2,end=" ")

46 68 90 24 48 90

`25. Filter out all even numbers from a list.`

In [71]:
lsst =[1, 2, 44, 55, 66, 34, 1, 2, 44, 78, 56, 90]
filter_list= []
for i in lsst:
    if i %2 ==0:
        filter_list.append(i)

In [72]:
print("Filter Even numbers : ",filter_list)

Filter Even numbers :  [2, 44, 66, 34, 2, 44, 78, 56, 90]

`26. Convert a list of strings to a list of integers.`

In [73]:
list_string =["1","2","3","45"] # List Of string
res =list(map(int,list_string))

In [74]:
print("List of string Convert into integer :",res)

List of string Convert into integer : [1, 2, 3, 45]

`27. Convert a list of integers to a list of strings.`

In [75]:
list_int =[1,2,3,45] # List Of string
res_int =list(map(str,list_int))

In [76]:
print("List of integer Convert into string:",res_int)

List of integer Convert into string: ['1', '2', '3', '45']

`28. Flatten a nested list.`

In [77]:
my_list = [[1], [2, 3], [4, 5, 6, 7]]
flat_list =sum(my_list,[])
print("flatten list is is :",flat_list)

flatten list is is : [1, 2, 3, 4, 5, 6, 7]

# `OR`

In [78]:
flat_lst =[]
for i in my_list:
    flat_lst.extend(i)
    print("List is flatten....")

List is flatten....
List is flatten....
List is flatten....

In [79]:
print("Flatten list is :",flat_lst)

Flatten list is : [1, 2, 3, 4, 5, 6, 7]

`29. Create a list of the first 10 Fibonacci numbers.`

`30. Check if a list is sorted.`

In [80]:
sort_list=[1,2,4,5,7,8]
sort_list1= sort_list[:]
sort_list1.sort()
if(sort_list == sort_list1):
    print('List is sorted in order')
else:
    print('List is not sorted in order')

List is sorted in order

`31. Rotate a list to the left by `n` positions.`

In [81]:
Rotate_left_list =[1,2,3,4,5,6,7]
n =4
Rotate_left_list[n:] + Rotate_left_list[:n]

[5, 6, 7, 1, 2, 3, 4]

`32. Rotate a list to the right by `n` positions.`

In [82]:
rotate_right_list =[1,2,3,4,5,6,7]
n =4
rotate_right_list[-n:] + rotate_right_list[:-n]

[4, 5, 6, 7, 1, 2, 3]

`33. Create a list of prime numbers up to 50.`

In [83]:
primes = []
for possiblePrime in range(2, 50):
    isPrime = True
    for num in range(2, possiblePrime):
        if possiblePrime % num == 0:
            isPrime = False
      
    if isPrime:
        primes.append(possiblePrime)

In [84]:
print("Prime Numbers are :",primes)

Prime Numbers are : [2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

`34. Split a list into chunks of size `n`.`

In [85]:
a_list = [1, 2, 3, 4, 5, 6, 7, 8, 9,10]
half_length = (len(a_list) // 2)
first_half = a_list[:half_length]
second_half =a_list[half_length:]
print(f'{first_half=}')
print(f'{second_half=}')

first_half=[1, 2, 3, 4, 5]
second_half=[6, 7, 8, 9, 10]

`35. Find the second largest number in a list.`

In [86]:
second_largest = [500, 2, 40, 999, 99]
second_largest.sort()

In [87]:
print("Sorted list: ",second_largest)
print("second Largest number is :",second_largest[-2])

Sorted list:  [2, 40, 99, 500, 999]
second Largest number is : 500

In [88]:
lsit_sort =[123,4533,12,45,678]
lsit_sort.sort()
print(lsit_sort)
sorted(lsit_sort)[-2]

[12, 45, 123, 678, 4533]

678

`36. Replace every element in a list with its square`

In [89]:
list_1 =[1,2,3,4,5,6,7,8,9,10]
for i in range(len(list_1)):
        list_1[i] = list_1[i]**2

In [90]:
print("Replace every Elements with its square :",list_1)

Replace every Elements with its square : [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

`37. Convert a list to a dictionary where list elements become keys and their
indices become values`

In [91]:
L1=[1,2,3,4]
L2=['a','b','c','d']
d1 =zip(L1,L2)
print(dict(d1))

{1: 'a', 2: 'b', 3: 'c', 4: 'd'}

`38. Shuffle the elements of a list randomly.`

In [92]:
import random
mylist = ["bhushan", "dilip", "patil"]
random.shuffle(mylist)

print(mylist)

['bhushan', 'dilip', 'patil']

`39. Create a list of the first 10 factorial numbers.`

In [93]:
# factorial of 1 to 10 numbers--
input_set = [1, 2, 3, 4, 5,6,7,8,9,10]
for item in input_set:
    fact = 1
    for number in range(1,item+1):
        fact = fact * number
    print ("Factorial of", item, "is :", fact)

Factorial of 1 is : 1
Factorial of 2 is : 2
Factorial of 3 is : 6
Factorial of 4 is : 24
Factorial of 5 is : 120
Factorial of 6 is : 720
Factorial of 7 is : 5040
Factorial of 8 is : 40320
Factorial of 9 is : 362880
Factorial of 10 is : 3628800

`40. Check if two lists have at least one element in common.`

In [94]:
list_1 = [1, 2, 3, 4, 55]
list_2 = [2, 3, 90, 22]
output =(check in list_1 for check in list_2)
if output:
    print("True")
else:
    print('False')

True

`41. Remove all elements from a list.`

In [95]:
remove_all_elements = [1, 2, 3, 4, 55]
remove_all_elements.clear()

In [96]:
print(remove_all_elements)

[]

`42. Replace negative numbers in a list with 0.`

In [97]:
list_with_minus_numb =[1,-2,-3,4,5,6,-7]
list_without_numb =[]
for i in list_with_minus_numb:
    if i < 0:
        list_without_numb.append(0)
    else:
        list_without_numb.append(i)

In [98]:
print("Replace numbers with 0: {}".format(list_without_numb))

Replace numbers with 0: [1, 0, 0, 4, 5, 6, 0]

`43. Convert a string into a list of words.`

In [99]:
string ="Hello My Name is bhushan"
list_of_word =string.split()

In [100]:
print(list_of_word)

['Hello', 'My', 'Name', 'is', 'bhushan']

`44. Convert a list of words into a string`

In [101]:
list_of_word =['Hello', 'My', 'Name', 'is', 'bhushan']
String_12 =" ".join(list_of_word)

In [102]:
print(String_12)

Hello My Name is bhushan

`45. Create a list of the first `n` powers of 2.`

In [103]:
power_2 =[]

for i in range(1,10):
    power_2.append(i**2)

In [104]:
print("Power of n th list : {}".format(power_2))

Power of n th list : [1, 4, 9, 16, 25, 36, 49, 64, 81]

`46. Find the longest string in a list of strings.`

In [105]:
Longest_string ='Find the longest string in a list of stringsss'
split_string = Longest_string.split()
print("The splited string is :",split_string)

The splited string is : ['Find', 'the', 'longest', 'string', 'in', 'a', 'list', 'of', 'stringsss']

In [106]:
result =max(split_string,key=len)
print('The longest string :',result)

The longest string : stringsss

`OR`

In [118]:
max_length = 0
for i in split_string:
    if len(i) > max_length:
        max_length =len(i)
        res =i

In [119]:
print("Long element :",res)

Long element : stringsss

`47. Find the shortest string in a list of strings`

In [109]:
result1 =min(split_string,key=len)
print("shortest string is :",result1)

shortest string is : a

In [131]:
min_length =10

for i in split_string:
    if len(i) < min_length:
        min_length =len(i)
        abcd = i

In [132]:
print("The shortest string is :",abcd)

The shortest string is : a

`48. Create a list of the first `n` triangular numbers.`

In [137]:
n=int(input('Enter no.of Triangulars you want:'))
triangulars = []
sum_of_triangular =0
for i in range(1,n+1):
    sum_of_triangular += i
    triangulars.append(sum_of_triangular)

Enter no.of Triangulars you want: 10

In [139]:
print(triangulars)

[1, 3, 6, 10, 15, 21, 28, 36, 45, 55]

`49. Check if a list contains another list as a subsequence.`

In [143]:
one = [1, 2, 3, 4, 5]
two = [1, 2]
subset =set(two).intersection(one)

In [145]:
if (set(one).intersection(two)):
    print("It is subset of another list")
else:
    print("it is not subset of another list")

It is subset of another list

`50. Swap two elements in a list by their indices.`

In [148]:
one1 = [1,2,3,4,5]
two2 = [10,11,12,13,14]
one1[0] =11
two2[1] =1

In [149]:
print("List one is :",one1)
print("List two is :",two2)

List one is : [11, 2, 3, 4, 5]
List two is : [10, 1, 12, 13, 14]