## `Set Based Practice Questions`

## `TOPIC: Set Based Assignment Problem`

`1. Create a set with integers from 1 to 5.`

In [15]:
set_0 ={1,2,3,4,5}
print("Set is : {}".format(set_0))

Set is : {1, 2, 3, 4, 5}

`2. Add an element to a set.`

In [16]:
set_0.add(6)
print("Added Element in set:",set_0)

Added Element in set: {1, 2, 3, 4, 5, 6}

`3. Remove an element from a set.`

In [17]:
set_0.remove(6)
print("Remove element from set :",set_0)

Remove element from set : {1, 2, 3, 4, 5}

`4. Check if an element exists in a set.`

In [20]:
if 2 in set_0:
    print("True")
else:
    print("False")

True

`5. Find the length of a set without using the `len()` function.`

In [21]:
Set_1={1,2,3,4,5,6,7,8,9}
count_set =0
for i in Set_1:
    count_set =count_set+1
else:
    print("loop execute successful..")
    print("length of set is :",count_set)

loop execute successful..
length of set is : 9

`6. Clear all elements from a set.`

In [26]:
clear_set =Set_1.clear()
print("clear the set :",clear_set)
Set_1

clear the set : None

set()

`7. Create a set of even numbers from 1 to 10.`

In [29]:
set_2 =set()
for i in range(1,10+1):
    if i %2 ==0:
        set_2.add(i)
else:
    print('For loop execute sucessful')
    print("Even numbres :",set_2)

For loop execute sucessful
Even numbres : {2, 4, 6, 8, 10}

`8. Create a set of odd numbers from 1 to 10.`

In [30]:
set_3 =set()
for i in range(1,10+1):
    if i %2 !=0:
        set_3.add(i)
else:
    print('For loop execute sucessful')
    print("Even numbres :",set_3)

For loop execute sucessful
Even numbres : {1, 3, 5, 7, 9}

`9. Find the union of two sets.`

In [34]:
set_3 = {1, 2, 3, 4, 5}
set_4 = {10, 9, 6, 7, 8}
union_of_two_set =set_3.union(set_4)

In [35]:
print("Union of two set :",union_of_two_set)

Union of two set : {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

`10. Find the intersection of two sets.`

In [38]:
set_3 = {1, 2, 3, 4, 5}
set_4 = {4, 5, 6, 7, 8}
intersection_of_two_set =set_3.intersection(set_4)

In [39]:
print("Intersection of two set :",intersection_of_two_set)

Intersection of two set : {4, 5}

`11. Find the difference between two sets`

In [40]:
set_3 = {1, 2, 3, 4, 5}
set_4 = {4, 5, 6, 7, 8}
difference_between_two_set =set_3.difference(set_4)

In [41]:
print("Differance between two set :",difference_between_two_set)

Differance between two set : {1, 2, 3}

`12. Check if a set is a subset of another set.`

In [44]:
set_5 = {1, 2, 3}
set_6 = {1, 2, 3, 4, 5}

subset =set_5.issubset(set_6)

In [45]:
print("Check the subset of another set :",subset)

Check the subset of another set : True

`13. Check if a set is a superset of another set.`

In [48]:
set_7 = {1, 2, 3, 4, 5, 6}
set_8 = {3, 4}

superset =set_7.issuperset(set_8)

if superset:
    print("Set_7 is superset of set_8")
else:
    print("Set_7 is not superset of set_8")

Set_7 is superset of set_8

`14. Create a set from a list.`

In [50]:
my_list = [2, 4, 1, 4, 3, 2, 5]
convert_set =set(my_list)
print("list from set is :",convert_set)

list from set is : {1, 2, 3, 4, 5}

`15. Convert a set to a list.`

In [52]:
my_set = {2, 4, 1, 4, 3, 2, 5}
convert_list =list(my_set)
print("list from set is :",convert_list)

list from set is : [1, 2, 3, 4, 5]

`16. Remove a random element from a set.`

In [60]:
import random
my_set = {1, 2, 3, 4, 5}
print("Original set:", my_set)

random_element = random.choice(list(my_set))
my_set.remove(random_element)
print("Updated set after removing", random_element, ":", my_set)

Original set: {1, 2, 3, 4, 5}
Updated set after removing 4 : {1, 2, 3, 5}

```17. Pop an element from a set.```

In [72]:
Original_set ={1, 2, 3, 4, 5}
Original_set.pop()
print("Remove first element from set :",Original_set)

Remove first element from set : {2, 3, 4, 5}

`18. Check if two sets have no elements in common.`

In [80]:
set_9 = {1, 2, 3, 4}
set_10= {5, 6, 7, 8}
Common_element_check=set_9.intersection(set_10)

In [81]:
if Common_element_check:
    print("Elements are common in set")
else:
    print("Elements are not common in set")

Elements are not common in set

`19. Find the symmetric difference between two sets.`

In [82]:
# Define two sets
set_11 = {1, 2, 3, 4, 5}
set_12 = {4, 5, 6, 7, 8}
# Find symmetric differance 
Symmetric_diff =set_11 ^ set_12

In [84]:
print("Symmetric differance between set :",Symmetric_diff)

Symmetric differance between set : {1, 2, 3, 6, 7, 8}

`20. Update a set with elements from another set.`

In [89]:
# Define Set -1
set_13 ={1,2,3,4}
# Define set -2
set_14 ={3,4,5,6}
# Update Set 
set_13.update(set_14)
print("Update set with another set :",set_13)

Update set with another set : {1, 2, 3, 4, 5, 6}

`21. Create a set of the first 5 prime numbers.`

In [90]:
# Function to check if a number is prime
def is_prime(num):
    if num <= 1:
        return False
    for i in range(2, int(num ** 0.5) + 1):
        if num % i == 0:
            return False
    return True

prime_set = set()

num = 2
while len(prime_set) < 5:
    if is_prime(num):
        prime_set.add(num)
    num += 1

# Print the set of prime numbers
print("Set of the first 5 prime numbers:", prime_set)

Set of the first 5 prime numbers: {2, 3, 5, 7, 11}

`22. Check if two sets are identical.`

In [93]:
set_15 ={1,2,3,4}
set_16 ={0,2,3,4}

if set_15 ==set_16:
    print("Sets are identical...")
else:
    print("Sets are not identical...")

Sets are not identical...

`````23. Create a frozen set.`````

In [94]:
set_17=[1,2,3,4,5,6,7]
create_frozenset =frozenset(set_17)
print("Created frozen set is:",create_frozenset)

Created frozen set is: frozenset({1, 2, 3, 4, 5, 6, 7})

`24. Check if a set is disjoint with another set.`

In [95]:
set_18 = {1, 2, 3, 4}
set_19 = {5, 6, 7, 8}

set_18.isdisjoint(set_19)

True

`25. Create a set of squares of numbers from 1 to 5.`

In [2]:
set_create =set()

for i in range(1,5+1):
    Square_set = i**2
    set_create.add(Square_set)
else:
    print("For loop execution Success...")
    print("Squares of numbers 1-5 is :",set_create)

For loop execution Success...
Squares of numbers 1-5 is : {1, 4, 9, 16, 25}

`26. Filter out all even numbers from a set.`

In [3]:
Org_set ={1,2,3,4,5,6,7,8,9,10}
filter_outEven =set()
filter_outodd =set()
for i in Org_set:
    if i %2 ==0:
        filter_outEven.add(i)
    else:
        filter_outodd.add(i)
else:
    print('For loop execute succesful...')
    print("=========================================")
    print('filterd even values are :',filter_outEven)
    print("=========================================")
    print('filterd off values are :',filter_outodd)

For loop execute succesful...
=========================================
filterd even values are : {2, 4, 6, 8, 10}
=========================================
filterd off values are : {1, 3, 5, 7, 9}

`27. Multiply all elements in a set by 2.`

In [12]:
set_20 = {1,2,3,4,5,6,7,8}

multiplied_set =set()
for i in set_20:
    Mul= i*2
    multiplied_set.add(Mul)
else:
    print("for loop exe sucessfull")
    print('===============================================')
    print("Multiply set by 2 :",multiplied_set)

for loop exe sucessfull
===============================================
Multiply set by 2 : {2, 4, 6, 8, 10, 12, 14, 16}

`28. Create a set of random numbers.`

In [22]:
import random
Generate_random=set()
for i in range(1,10):
    g_rand =random.randint(1,100)
    Generate_random.add(g_rand)
else:
    print("For loop execute sucessful")
    print('==================================================================')
    print("Generated random numbers are :",Generate_random)

For loop execute sucessful
==================================================================
Generated random numbers are : {64, 37, 71, 74, 76, 46, 49, 22, 94}

`29. Check if a set is empty.`

In [35]:
set_21 =set()
len(set_21)

0

In [36]:
if len(set_21)<=0:
    print("set is empty")
else:
    print("set is not empty")

set is empty

`OR`

In [38]:
if not set_21:
    print("set is empty")
else:
    print("set is not empty")

set is empty

`30. Create a nested set (hint: use frozenset).`

In [39]:
# Step 1: Create the inner sets
set_22 = {1, 2, 3, 4, 5}
set_23 = {6, 7, 8, 9, 10}

frozen_set_1 =frozenset(set_22)
frozen_set_2 =frozenset(set_23)

nested_set ={frozen_set_1,frozen_set_2}

print("Nested set is :",nested_set)

Nested set is : {frozenset({1, 2, 3, 4, 5}), frozenset({6, 7, 8, 9, 10})}

`31. Remove an element from a set using the discard method.`

In [41]:
set_24 = {6, 7, 8, 9, 10}
set_24.discard(8)

print("Removed elements from set is :",set_24)

Removed elements from set is : {6, 7, 9, 10}

`32. Compare two sets.`

In [46]:
# Step 1: Define two sets
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}


is_subset = set1.issubset(set2)

is_superset = set1.issuperset(set2)


intersection = set1.intersection(set2)


union = set1.union(set2)


difference1 = set1.difference(set2)


difference2 = set2.difference(set1)
print("Set 1:", set1)
print("==============================================")
print("Set 2:", set2)
print("==============================================")
print("Is set1 a subset of set2?", is_subset)
print("==============================================")
print("Is set2 a subset of set1?", is_superset)
print("==============================================")
print("Intersection:", intersection)
print("==============================================")
print("Union:", union)
print("==============================================")
print("Elements in set1 but not in set2:", difference1)
print("==============================================")
print("Elements in set2 but not in set1:", difference2)
print("==============================================")

Set 1: {1, 2, 3, 4, 5}
==============================================
Set 2: {4, 5, 6, 7, 8}
==============================================
Is set1 a subset of set2? False
==============================================
Is set2 a subset of set1? False
==============================================
Intersection: {4, 5}
==============================================
Union: {1, 2, 3, 4, 5, 6, 7, 8}
==============================================
Elements in set1 but not in set2: {1, 2, 3}
==============================================
Elements in set2 but not in set1: {8, 6, 7}
==============================================

`33. Create a set from a string.`

In [49]:
string_con ="bhushan"
set_25 =set(string_con)
print(set_25)
type(set_25)

{'b', 'u', 's', 'h', 'n', 'a'}

set

`34. Convert a set of strings to a set of integers.`

In [50]:
string_26 = {"123", "456", "789"}
set_of_int =set()
for i in string_26:
    set_27 =int(i)
    set_of_int.add(set_27)
else:
    print("for loop exe. sucessful...")
    print('==============================')
    print("Set of integer :",set_of_int)

for loop exe. sucessful...
==============================
Set of integer : {456, 123, 789}

`35. Convert a set of integers to a set of strings.`

In [56]:
set_28 = {456, 123, 789}

set_of_string =set()

for i in set_28:
    set_29 =str(i)
    set_of_string.add(set_29)
else:
    print("for loop exe. sucessful...")
    print('=====================================')
    print("Set of string :",set_of_string)

for loop exe. sucessful...
=====================================
Set of string : {'123', '789', '456'}

`36. Create a set from a tuple.`

In [60]:
set_from_tuple =(1,'bhush',2,3)
print(type(set_from_tuple))
conv_set =set(set_from_tuple)
print('created set from tuple :',conv_set)

<class 'tuple'>
created set from tuple : {1, 2, 3, 'bhush'}

`37. Convert a set to a tuple.`

In [62]:
tuple_from_set= {1, 2, 3, 'bhush'}
print(type(tuple_from_set))
convert_tuple =tuple(tuple_from_set)
print("converted tuple from set :",convert_tuple)

<class 'set'>
converted tuple from set : (1, 2, 3, 'bhush')

`38. Find the maximum value in a set.`

In [63]:
set_30 ={23,34,45,577,344,133,894}
Max_value =max(set_30,)

print("Maxm value from set is :",Max_value)

Maxm value from set is : 894

`39. Find the minimum value in a set.`

In [64]:
set_30 ={23,34,45,577,344,133,894}
Min_value =min(set_30,)

print("Min value from set is :",Min_value)

Min value from set is : 23

`40. Create a set from user input.`

In [69]:
user_set =set()

for i in range(3):
    user_ip =int(input("Enter the values ====>"))
    print('=======================')
    user_set.add(user_ip)
else:
    print("For loop exe sucessfull...")
    print('=================================')
    print('cearted set from user input:>>',user_set)

Enter the values ====> 12

=======================

Enter the values ====> 23

=======================

Enter the values ====> 34

=======================
For loop exe sucessfull...
=================================
cearted set from user input:>> {34, 12, 23}

`41. Check if the intersection of two sets is empty.`

In [70]:
# Step 1: Define two sets
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

# Step 2: Find the intersection of the two sets using the `intersection()` method
intersection_result = set1.intersection(set2)

# Step 3: Check if the intersection result is empty
if not intersection_result:
    print("The intersection of the two sets is empty.")
else:
    print("The intersection of the two sets is not empty.")

The intersection of the two sets is not empty.

`42. Create a set of the first 5 Fibonacci numbers.`

In [73]:
fibonacci_set = set()
a,b =0,1

for i in range(6):
    fibonacci_set.add(a)
    a, b = b, a + b
        
print("Set of fibonacci numbers :",fibonacci_set)

Set of fibonacci numbers : {0, 1, 2, 3, 5}

`43. Remove duplicates from a list using sets.`

In [79]:
# Original List
original_list = [2, 4, 6, 8, 4, 10, 6, 12, 14, 8]
print('Original list :',original_list)
print("=======================================================")
Remove_duplicate =set(original_list)
print("Removed duplicate from list :",Remove_duplicate)
print("=======================================================")
again_conv_lst =list(Remove_duplicate)
print("Conerted into list :",again_conv_lst)

Original list : [2, 4, 6, 8, 4, 10, 6, 12, 14, 8]
=======================================================
Removed duplicate from list : {2, 4, 6, 8, 10, 12, 14}
=======================================================
Conerted into list : [2, 4, 6, 8, 10, 12, 14]

`44. Check if two sets have the same elements, regardless of their count`

In [81]:
def have_same_elements(set1, set2):
    # Convert the sets to lists and sort them
    sorted_list1 = sorted(list(set1))
    sorted_list2 = sorted(list(set2))
    return sorted_list1 == sorted_list2


set1 = {1, 2, 3, 2, 1}
set2 = {3, 1, 2}


result = have_same_elements(set1, set2)

# Print the result
if result:
    print("The sets have the same elements.")
else:
    print("The sets do not have the same elements.")

The sets have the same elements.

`45. Create a set of the first `n` powers of 2.`

In [96]:
set_31 =set()
nth =5
for i in range(nth):
    set_32 =2**i
    set_31.add(set_32)
else:
    print("for loop execution sucessful..")
    print("Set is :",set_31)

for loop execution sucessful..
Set is : {1, 2, 4, 8, 16}

`46. Find the common elements between a set and a list.`

In [97]:
my_set = {3, 7, 9, 12, 15}
my_list = [7, 12, 5, 9]
conv_to_set =set(my_list)

common_elements =[]
for i in my_set:
    if i in conv_to_set:
        common_elements.append(i)
else:
    print("for loop execution completed..")
    print("Common elements are :",common_elements)

for loop execution completed..
Common elements are : [7, 9, 12]

`47. Create a set of the first `n` triangular numbers.`

In [98]:
def generate_triangular_numbers(n):
    triangular_numbers = set()  # Create an empty set to store the triangular numbers
    for i in range(1, n + 1):
        triangular_number = i * (i + 1) // 2  # Calculate the ith triangular number using the formula
        triangular_numbers.add(triangular_number)  # Add the calculated triangular number to the set
    return triangular_numbers

# Input the value of 'n'
n = int(input("Enter the value of n: "))

# Call the function to generate the set of first 'n' triangular numbers
triangular_set = generate_triangular_numbers(n)

# Display the set of triangular numbers
print(f"The set of the first {n} triangular numbers is:", triangular_set)

Enter the value of n:  7

The set of the first 7 triangular numbers is: {1, 3, 6, 10, 15, 21, 28}

`48. Check if a set contains another set as a subset.`

In [106]:
# Define two sets
set_33 = {1, 2, 3, 4, 5}
set_34 = {3, 4}

is_subset = set_34.issubset(set_33)

In [107]:
if is_subset:
    print("Set_34 is subset of set_33")
else:
    print("Set_34 is not subset of set_33")

Set_34 is subset of set_33

`49. Create a set of alternating 1s and 0s of length `n`.`

In [108]:
set_35 =set()
length =int(input("Enter the range ====>>"))

for i in range(length):
    if i%2 ==0:
        set_35.add(0)
    else:
        set_35.add(1)
else:
    print("for loop executed")
    print("Alternating set 0s & 1s :",set_35)

Enter the range ====>> 10

for loop executed
Alternating set 0s & 1s : {0, 1}

`50. Merge multiple sets into one.`

In [111]:
# Step 1: Create multiple sets
set1 = {1, 2, 3}
set2 = {3, 4, 5}
set3 = {5, 6, 7}

# Step 2: Use the union() method to merge sets
merged_set = set1.union(set2, set3)

# Alternatively, you can use the | operator
# merged_set = set1 | set2 | set3

# Step 3: Print the merged set
print("Merged Set:", merged_set)

Merged Set: {1, 2, 3, 4, 5, 6, 7}